<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <body>
        <div class="content">
            <header>
                <div class="topnav">
                    <a href="/"><img src="/assets/logo.png" alt="Foodfy Logo"></a>
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </div>
            </header>

            {% block content%}
            
            {% endblock %}

        </div>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>
    </body>
</html>