{% extends "layout.njk"%}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <section class="recipes-cards">

        {% for recipe in recipes %}
            <div class="card">
                <div class="card__image-container">
                    <img src="{{recipe.image}}" alt="Imagem da receita {{recipe.title}}">
                </div>
                
                <div class="card__info">
                    <h2>{{recipe.title}}</h2>
                </div>

                <div class="card__author">
                    <p>por {{recipe.author}}</p>
                </div>
            </div>

        {% endfor %}

    </section>

    <script src="scripts/scripts.js"></script>

{%endblock%}